* {
    margin: 0;
}

.MainContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ContentVideo {
    background-color: #33ab9f;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.Controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;
}

.ControlsLeft {
    display: flex;
}

.ControlsRight {
    display: flex;
}

.ButtonExpand {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 3px;
}

.ButtonPlayPause {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: -6px;
}

.ContainerInputRange {
    margin-bottom: 16px;
}

.InputRange {
    width: 100%;
}

.SelectSpeed {
    border: none;
    margin-right: 3px;
    background-color: #000;
    color: #33ab9f;
    font-weight: 600;
    width: 35px;
    border-radius: 6px;
    padding: 3px;
    outline: none;
}